:root {
  --url1: url(/html/img/kapak1.png);
  --url: url(/html/img/kapak2.png);
  --left: 0px;
}

.banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.banner .product {
  /* background-color: red; */
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: 170px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: 0.7s;
  display: flex;
}

.banner .product .soda {
  background: var(--url1) var(--left) 0, url("/html/img/soda.png");
  background-size: auto 100%;
  width: 280px;
  aspect-ratio: 2 / 2.8;
  background-blend-mode: multiply;
  mask-image: url("/html/img/soda.png");
  mask-size: auto 100%;
  transition: 0.7s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.banner .product:hover {
  --left: -1000px;
  transform: translateX(-50%) translateY(-120px);
}
